<div>
        
</div>
<footer class="footer">
        <p class="social-media"> 
                <a class="social" href="https://www.facebook.com/servemytable20"><i class="fa fa-facebook-f"></i></a> 
                <a class="social" href="https://www.instagram.com/servemytable"><i class="fa fa-instagram"></i></a> 
                <a class="social" href="https://www.youtube.com/channel/UC35aq8C7FOF3-acoA_cy5Jw"><i class="fa fa-youtube-play"></i></a>
                <a class="social" href="mailto:servemytable@gmail.com"><i class="fa fa-envelope"></i></a>
        </p>
        <p class="copyrightText mFont"><i class="fa fa-copyright"></i> <%=new Date().getFullYear();%> servemytable.in .All Rights Reserved</p>
        <p class="tnc">
                <a href="/tnc" style="color: var(--theme-grey);">Terms and Conditions</a> &nbsp; 
                <a href="/privacy" style="color: var(--theme-grey);">Privacy Policy</a>
        </p>
</footer>