<div class="topContainer">
        <div class="container">
                <div class="row">
                
                        <div class="col-md-9 col-sm-6">
                                <h1 class="mainHeading logoFont">Scan | Pay | Eat</h1>
                                <br/>
                                <p class="mFont paragraph">
                                             We help your restaurant in the fight against pandemic of Corona Virus.  
                                        We provide end to end contactless dinning experience to your guest.By
                                        simply scanning the QR code on the table, guest can view the menu card, 
                                        make the selection of their choice, place order and pay at the table  
                                        without the need for human contact. You can just Register your restaurant,
                                        generate QR codes and place them on the table.
                                        <br>
                                </p>
                                
                        </div>

                        <div class="col-md-3 col-sm-6 autocen">
                                <img src="./assets/Mobile.png" alt="Mobile" class="mobileImg"/>
                        </div>

                </div>
        </div>
</div>