<div class="container">
                        
        <h1 class="logoFont Cheading hiw"  id="howItWorks">How it Works ?</h1>
        <br/>
        <br/>
        <div class="container">
                <div class="row">
                        <div class="col-md-3 col-sm-6">
                                <p class="hiw mFont">
                                <img src="./assets/Mobile.png" class="ImgGuest" alt="menuImg"/>
                                <br/>
                                <br/><a class="HeadingSub">No Menucard</a><br/> 
                                <br/>By scanning the QR code sticker 
                                <br/>on the table with their phone guest can access the full Menu.
                                </p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                <p class="hiw mFont">
                                <img src="./assets/MenuMobile.png" class="ImgGuest" alt="menuImg"/>
                                <br/>
                                <br/><a class="HeadingSub">No Waiter</a><br/>
                                <br/>After viewing the full menu the guest can add items to 
                                <br/>their cart and place order
                                </p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                <p class="hiw mFont">
                                <img src="./assets/BillMobile.png" class="ImgGuest" alt="billImg"/>
                                <br/>
                                <br/><a class="HeadingSub">No Cash</a><br/>
                                <br/>Pay the bill using various 
                                <br/>cashless payment methods.
                                </p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                <p class="hiw mFont">
                                <img src="./assets/DoneMobile.png" class="ImgGuest" alt="tickImg"/>
                                <br/>
                                <br/><a class="HeadingSub">No Problem</a><br/>
                                <br/>Your food is being prepared.
                                <br/>Have a safe time.
                                </p>
                        </div>
                </div>
        </div>

</div>