<div class="container">
                        
        <h1 class="logoFont Cheading hiw"  id="howItWorks">How it Works ?</h1>
        <br/>
        <br/>
        <div class="container">
                <div class="row">
                        <div class="col-md-3 col-sm-6 ">
                                <p class="hiw mFont below">
                                <img src="./assets/Mobile.png" class="ImgGuest" alt="menuImg"/>
                                <br>
                                <br><a class="HeadingSub">No Menucard</a>
                                <br>By scanning the QR code sticker 
                                <br>on the table with their phone guest can access the full Menu.<br>
                                </p>
                                <hr class="formob">
                        </div>
                        <div class="col-md-3 col-sm-6 below">
                                <p class="hiw mFont">
                                <img src="./assets/MenuMobile.png" class="ImgGuest" alt="menuImg"/>
                                <br>
                                <br><a class="HeadingSub">No Waiter</a>
                                <br>After viewing the full menu the guest can add items to 
                                <br>their cart and place order<br>
                                </p>
                                <hr class="formob">
                        </div>
                        <div class="col-md-3 col-sm-6 below">
                                <p class="hiw mFont">
                                <img src="./assets/BillMobile.png" class="ImgGuest" alt="billImg"/>
                                <br>
                                <br><a class="HeadingSub">No Cash</a>
                                <br>Pay the bill using various 
                                <br>cashless payment methods.<br>
                                </p>
                                <hr class="formob">
                        </div>
                        <div class="col-md-3 col-sm-6 below">
                                <p class="hiw mFont">
                                <img src="./assets/DoneMobile.png" class="ImgGuest" alt="tickImg"/>
                                <br>
                                <br><a class="HeadingSub">No Problem</a>
                                <br>Your food is being prepared.
                                <br>Have a safe time.<br>
                                </p>
                                <hr class="formob">
                        </div>
                </div>
        </div>

</div>