<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>  

        
        <link rel="stylesheet" href="./css/basic.css">
        <link rel="stylesheet" href="./css/App.css">


    </head>
    <body>      
                
                <nav class="navbar navbar-expand-lg shadow">
                        <div class="container">
                                <a class="navbar-brand brand-name"><img src="./assets/logo.png" alt="logo" width="40" /> Serve My Table</a>
                        </button>
                </nav>
                
                <br>
                <div class="container">
                        <h1 class="mFont">Privacy Policy</h1>
                        <hr class="line-theme"><br>
                        <p>
<strong>Contacting Us</strong><br>
If you have general questions about your account or how to contact customer service for assistance, 
Please mail us on servemytable@gmail.com For questions specifically about this Privacy Statement, or 
our use of your personal information, cookies or similar technologies, please contact us by email.
Please note that if you contact us to assist you, for your safety and ours we may need to authenticate
your identity before fulfilling your request.
<br><br>
<strong>Information you provide to us: </strong><br>
We collect information you provide to us which includes:
your name, email address, address or postal code, payment method(s), Bank Account Details, and telephone 
number. We collect a GSTIN for purposes such as billing and tax compliance.We also collect your Professional
Information.
<br><br>
<strong>Use of Information</strong><br>
We use information to provide, analyze, administer, enhance and personalize our services and marketing efforts,
to manage member referrals, to process your registration, your orders and your payments, and to communicate 
with you on these and other topics. <br>
To prevent, detect and investigate potentially prohibited or illegal activities, including fraud, and to 
enforce our terms<br>
To analyze and understand our audience, improve our service (including our user interface experiences) and 
optimize content selection, recommendation algorithms and delivery;
To communicate with you concerning our service so that we can send you news about Serve My Table, details about 
new features and content available on Serve My Table, special offers, promotional announcements, consumer surveys, 
and to assist you with operational requests such as password reset requests. These communications may be by 
various methods, such as email, push notifications, text message, online messaging channels, and matched 
identifier communications.<br>
<br>
<strong>Disclosure of Information</strong><br>
We disclose your information for certain purposes and to third parties like to the Payment Gateways for transfering
funds from the Users account to Restaurant's account. We disclose it to transfer funds from Restaurant's Account
to our Account. We also disclose information about Restaurant's like name,location,Dishes,speciality to provide the 
service of Ordering Online and for making Online Payments.
<br><br>
<strong>Your Information and Rights</strong><br>
You can request access to your personal information, or correct or update out-of-date or inaccurate personal information 
we hold about you. You can most easily do this by visiting the Profile portion of our website, where you have the ability 
to access and update a broad range of information about your account, including your contact information, your Serve My Table 
payment information, and various related information about your account. You must be signed in to access the "Profile" section. 
You may also request that we delete personal information that we hold about you.
<br>
To make requests, or if you have a question regarding our privacy practices, please contact us on email .We respond to all 
requests we receive from individuals wishing to exercise their data protection rights in accordance with applicable data protection laws.
We may reject requests that are unreasonable or not required by law, including those that would be extremely impractical, could require 
disproportionate technical effort, or could expose us to operational risks such as free trial fraud. We may retain information as required 
or permitted by applicable laws and regulations, including to honor your choices, for our billing or records purposes and to fulfill the 
purposes described in this Privacy Statement. We take reasonable measures to destroy or de-identify personal information in a secure manner 
when it is no longer required.
<br><br>
<strong>Security</strong><br>
We use reasonable administrative, logical, physical and managerial measures to safeguard your personal information against loss, theft and 
unauthorized access, use and modification. These measures are designed to provide a level of security appropriate to the risks of processing 
your personal and Professional information.  
<br><br>
                        </p>
                </div>
                
                

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>