<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>  

        
        <link rel="stylesheet" href="./css/basic.css">
        <link rel="stylesheet" href="./css/App.css">


    </head>
    <body>      
                
                <nav class="navbar navbar-expand-lg shadow">
                        <div class="container">
                                <a class="navbar-brand brand-name"><img src="./assets/logo.png" alt="logo" width="40" /> Serve My Table</a>
                        </button>
                </nav>
                
                <br>
                <div class="container">
                        <h1 class="mFont">Terms and Conditions</h1>
                        <hr class="line-theme">
                        <br>
                        <p class="mFont">
These terms and conditions outline the rules and regulations for the use of Serve My Table's Website.    
Serve My Table is located at : "Devkar Plaza" Shop No.12 Shantinagar, Landewadi Bhosari, Pune 411039 - MAHARASHTRA , India<br>
	
By accessing this website we assume you accept these terms and conditions in full. Do not continue to use Serve My Table's website if you do not accept all of the terms and conditions stated on this page.
The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice
and any or all Agreements: "Client", "You" and "Your" refers to you, the person accessing this website
and accepting the Company's terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers
to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves, or either the Client
or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings
of a fixed duration, or any other means, for the express purpose of meeting the Client's needs in respect
of provision of the Company's stated services/products, in accordance with and subject to, prevailing law
of India. Any use of the above terminology or other words in the singular, plural,
capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.
<br><br>

<strong>Cookies</strong><br>
We employ the use of cookies. By using Serve My Table's website you consent to the use of cookies 
in accordance with Serve My Table's privacy policy.Most of the modern day interactive web sites
use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site
to enable the functionality of this area and ease of use for those people visiting. Some of our 
affiliate / advertising partners may also use cookies.

<br><br>
<strong>License</strong><br>
Unless otherwise stated, Serve My Table and/or it's licensors own the intellectual property rights for
all material on Serve My Table. All intellectual property rights are reserved. You may view and/or print
pages from http://servemytable.in for your own personal use subject to restrictions set in these terms and conditions.
You must not:
<br><br>	
	Republish material from http://www.servemytable.in<br>
	Sell, rent or sub-license material from http://www.servemytable.in<br>
	Reproduce, duplicate or copy material from http://www.servemytable.in<br>
<br>	
Redistribute content from Serve My Table (unless content is specifically made for redistribution).
Hyperlinking to our Content
<br>	
No use of Serve My Table's logo or other artwork will be allowed for linking absent a trademark license agreement.
<br><br>

<strong>Iframes</strong><br>
Without prior approval and express written permission, you may not create frames around our Web pages or
use other techniques that alter in any way the visual presentation or appearance of our Web site.
<br><br>
<strong>Reservation of Rights</strong><br>
We reserve the right at any time and in its sole discretion to request that you remove all links or any particular
link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also
reserve the right to amend these terms and conditions and its linking policy at any time. By continuing
to link to our Web site, you agree to be bound to and abide by these linking terms and conditions.
<br><br>
<strong>Removal of links from our website</strong><br>
If you find any link on our Web site or any linked web site objectionable for any reason, you may contact
us about this. We will consider requests to remove links but will have no obligation to do so or to respond
directly to you.<br>
Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness
or accuracy; nor do we commit to ensuring that the website remains available or that the material on the
website is kept up to date.
<br><br>
<strong>Content Liability</strong><br>
We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify
and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any
page on your Web site or within any context containing content or materials that may be interpreted as
libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or
other violation of, any third party rights.
<br><br>
<strong>Monthly Subscription</strong> 
By purchasing a Monthly Subscription you agree to an initial and recurring Monthly
Subscription fee at the then-current Monthly Subscription rate, and you accept responsibility for
all recurring charges until you cancel your subscription. You may cancel your Monthly Subscription at any 
time, subject to the terms of our cancellation policy<br>
Automatic Monthly Renewal Terms : Once you subscribe and are off the waitlist,ips will automatically process
your Monthly Subscription fee in the next billing cycle. We will continue to automatically process your 
Monthly Subscription fee each month at the then-current Monthly Subscription rate, until you cancel your 
subscription. We explain how to cancel your Monthly Subscription below at the Section "Cancellation Policy".
<br><br>
<strong>Membership</strong><br>
Your Serve My Table membership will continue until terminated. To use the Serve My Table service you must have 
Internet access and a Serve My Table ready device, and provide us with one or more Payment Methods. 
“Payment Method” means a current, valid, accepted method of payment, as may be updated from time to time, 
and which may include payment through your account with a third party. Unless you cancel your membership 
before your billing date, you authorize us to charge  the membership fee for the next billing cycle to your 
Payment Method (see "Cancellation" below).
<br><br>
<strong>Free Trials</strong><br>
Your Serve My Table membership may start with a free trial. The duration of the free trial period of your membership 
will be specified during sign-up and is intended to allow new members and certain former members to try the 
service.Free trial eligibility is determined by Serve My Table at its sole discretion and we may limit eligibility 
or duration to prevent free trial abuse. We reserve the right to revoke the free trial and put your account 
on hold in the event that we determine that you are not eligible. Members of households with an existing or 
recent Serve My Table membership are not eligible. We may use information such as method of payment or an account 
email address used with an existing or recent Serve My Table membership to determine eligibility. For combinations
with other offers, restrictions may apply.
<br><br>
<strong>Billing and Cancellation</strong>
<br>
Billing Cycle. The membership fee for the Serve My Table service and any other charges you may incur in connection 
with your use of the service, such as taxes and possible transaction fees, will be charged to your Payment Method on 
the specific billing date. The length of your billing cycle will depend on the type of subscription that you choose 
when you sign-up for the service. In some cases your payment date may change, for example if your Payment Method has 
not successfully settled or if your paid membership began on a day not contained in a given month. We may authorize 
your Payment Method in anticipation of membership or service-related charges through various methods, including 
authorizing it for up to approximately one month of service as soon as you register. In some instances, your available 
balance or credit limit may be reduced to reflect the authorization during your free trial period.
<br><br>
Payment Methods. To use the Serve My Table service you must provide one or more Payment Methods. You authorize us to 
charge any Payment Method associated to your account in case your primary Payment Method is declined or no longer available
to us for payment of your subscription fee. You remain responsible for any uncollected amounts. If a payment is not 
successfully settled, due to expiration, insufficient funds, or otherwise, and you do not cancel your account, we may 
suspend your access to the service until we have successfully charged a valid Payment Method. For some Payment Methods, 
the issuer may charge you certain fees, such as foreign transaction fees or other fees relating to the processing of your 
Payment Method. Local tax charges may vary depending on the Payment Method used. Check with your Payment Method service 
provider for details.
<br><br>
Cancellation. You can cancel your Serve My Table membership at any time, and you will continue to have access to the 
Serve My Table service through the end of your billing period. To the extent permitted by the applicable law, 
payments are non-refundable and we do not provide refunds or credits for any partial membership periods. If you cancel your membership, your account will automatically close at the end of your 
current billing period. If you signed up for Serve My Table using your account with a third party as a Payment Method 
and wish to cancel your Serve My Table membership, you may need to do so through such third party, for example by 
visiting your account with the applicable third party and turning off auto-renew, or unsubscribing from the Serve My Table 
service through that third party. You may also find billing information about your Serve My Table membership by visiting your account with the applicable third party.
<br><br>
Changes to the Price and Subscription Plans. We may change our subscription plans and the price of our service from time to time
however, any price changes or changes to your subscription plans will apply no earlier than 30 days following notice to you.
<br><br>
We will charge the membership fee for the next billing cycle to your Payment Method at the end of the free trial period unless you 
cancel your membership prior to the end of the free trial period.
<br><br>
<strong>Disclaimer</strong><br>
To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions 
relating to our website and the use of this website (including, without limitation, any warranties implied by law in 
respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). 
Nothing in this disclaimer will:
<br><br>	
limit or exclude our or your liability for death or personal injury resulting from negligence;
limit or exclude our or your liability for fraud or fraudulent misrepresentation;
limit any of our or your liabilities in any way that is not permitted under applicable law; or
exclude any of our or your liabilities that may not be excluded under applicable law.
<br><br>
The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a)
are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or
in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort
(including negligence) and for breach of statutory duty.<br>
To the extent that the website and the information and services on the website are provided with subsription         charges,we will not be liable for any loss or damage of any nature.
                        </p>
                </div>
                
                

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>