#ContactMe{
    background: white;
    z-index: 2;
}

.Cheading{
    margin-top: 60px;
}

@media (max-width:700px){

    .contactIcon{
        display: none;
    }
}

@media (max-width : 800px){

    .contactIcon{
        width: 350px;
    }
}